@model GYM.Models.Banner
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <!-- Main content starts -->
        <div>
            <!-- Row Starts -->
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="main-header">
                        <h4>Add Banner</h4>
                        <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                            <li class="breadcrumb-item">
                                <a href="#"><i class="icofont icofont-home"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Banner View</a>
                            </li>

                        </ol>
                    </div>
                </div>
            </div>
            <!-- Row end -->
            <!-- Row start -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-header-text">Add Banner</h5>
                            <div class="f-right">
                                <a href="" data-toggle="modal" data-target="#input-type-Modal"><i class="icofont icofont-code-alt"></i></a>
                            </div>
                        </div>

                        <div class="card-block">
                            <form asp-action="Edit" enctype="multipart/form-data">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Title" class="control-label"></label>
                                        <input asp-for="Title" class="form-control" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Heading" class="control-label"></label>
                                        <input asp-for="Heading" class="form-control" />
                                        <span asp-validation-for="Heading" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="BannerPhotos" class="control-label"></label>
                                        <input asp-for="BannerPhotos" class="form-control" />
                                        <span asp-validation-for="BannerPhotos" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-check" style="margin-top:33px; text-align:center">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                        </label>
                                    </div>
                                    </div>
                                <div class="col-md-2">
                                    <div class="form-group" style="margin-top:30px;">
                                        <input type="hidden" asp-for="Id" />
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                    </div>
                            </form>

                        </div>
                    </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
                <!-- Form Control ends -->
            </div>
            <!-- Row end -->

        </div>
        <!-- Main content ends -->
    </div>

</div>
